@font-face {
  font-family: 'DungGeunMo';
  src: url('/fonts/DungGeunMo.eot');
  src: url('/fonts/DungGeunMo.eot?#iefix') format('embedded-opentype'),
  url('/fonts/DungGeunMo.woff2') format('woff2'),
  url('/fonts/DungGeunMo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}